.login{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.form-login{
  margin: auto;
  display: flex;
  width: 400px;
  flex-direction: column;
}

.product-list td{
  text-align: center;
}
.product-list th{
  text-align: center;
}
